.button {
    background-color: var(--theme-widget-background);
    border-radius: 0.4rem;
    border: var(--theme-border) 1px solid;
    color: var(--theme-widget-text);
    font-family: var(--theme-base-font-family);
    font-size: var(--theme-base-font-size);
    padding: 0 1em;
    height: 3.6rem;
}

.button:hover:not(:disabled) {
    background-color: var(--theme-widget-background-hover);
}
.button:active:not(:disabled) {
    background-color: var(--theme-widget-background-active);
}

.button:disabled {
    opacity: 0.75;
}

.small {
    composes: button;
    font-size: 1rem;
    height: 2.4rem;
}
.large {
    composes: button;
    font-size: 2rem;
    height: 4.8rem;
}
