.checkboxContainer {
    --size: 2.4rem;
    align-items: center;
    display: inline-flex;
    font-family: var(--theme-base-font-family);
    font-size: var(--theme-base-font-size);
    user-select: none;
}

.small {
    composes: checkboxContainer;
    --theme-md-icon-size: var(--theme-md-icon-xs);
    --size: 1.6rem;
    font-size: 1rem;
}
.large {
    composes: checkboxContainer;
    --theme-md-icon-size: var(--theme-md-icon-md);
    --size: 3.6rem;
    font-size: 2rem;
}

.checkbox {
    composes: icon from "./widgets.module.css";
    align-items: center;
    appearance: none;
    background-color: var(--theme-widget-background);
    border: 1px solid var(--theme-border);
    border-radius: 0.2rem;
    display: flex;
    font-size: inherit;
    height: var(--size);
    justify-content: center;
    margin: initial;
    margin-right: 0.5em;
    position: relative;
    width: var(--size);
}

.checkbox:checked::after {
    content: "\e5ca";
    transform: scale(0.8);
}
