.icon {
    /* Empty rule for composition */
    color: red;
}
.icon::before,
.icon::after {
    align-items: center;
    display: inline-flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Material Icons";
    font-size: var(--theme-md-icon-size);
    height: var(--theme-md-icon-size);
    width: var(--theme-md-icon-size);
}
