.button{
    background-color: var(--theme-button-background);
    border: var(--theme-border) 1px solid;
    border-radius: 4pt;
    color: var(--theme-page-text);
    font-size: var(--theme-md);
    padding: var(--theme-xs);
    margin: var(--theme-xs);
}
.button:active{
    background-color: var(--theme-button-hover);
}
.button:hover{
    background-color: var(--theme-button-active);
}