.footer {
    display: flex;
    padding: 32px;
    align-items: center;
    justify-content: flex-end;
    color: var(--theme-footer-text, #c5c5c5);
    background-color: var(--theme-footer-background, #2a475e);
}

.disclaimer {
    display: flex;
    flex-basis: 25%;
    padding-left: 24px;
    margin-left: 24px;
    flex-direction: column;
    border-left: 2px solid white;
}

.links {
    display: flex;
    align-items: center;
    flex-direction: column;
}
