.topNav {
    display: flex;
    padding: var(--theme-md);
    background-color: var(--theme-header-background);
}

.heading {
    text-transform: uppercase;
    color: var(--theme-page-text);
    font-size: var(--theme-lg);
}
