.button {
    align-self: start;
    background-color: var(--theme-button-background);
    border-radius: 0.4rem;
    border: var(--theme-border) 1px solid;
    color: var(--theme-page-text);
    font-family: inherit;
    font-size: var(--theme-base-font-size);
    padding: 0.5em 1em;
}

.button:hover {
    background-color: var(--theme-button-background-hover);
}
.button:active {
    background-color: var(--theme-button-background-active);
}

.small {
    composes: button;
    font-size: 1rem;
}
.large {
    composes: button;
    font-size: 2rem;
}
