.checkboxContainer {
    align-items: center;
    display: inline-flex;
    font-family: var(--theme-base-font-family);
    font-size: var(--theme-base-font-size);
    user-select: none;
}

.checkbox {
    align-items: center;
    appearance: none;
    background-color: var(--theme-button-background);
    border: 1px solid var(--theme-border);
    border-radius: 0.2rem;
    display: flex;
    font-size: inherit;
    height: 20px;
    justify-content: center;
    margin: initial;
    margin-right: 0.5em;
    position: relative;
    width: 20px;
}

.checkbox:checked::after {
    background-color: currentColor;
    content: "";
    height: 12px;
    opacity: 0.75;
    position: absolute;
    width: 12px;
}
