.FAQBox {
    color: var(--theme-title-text);
    font-size: var(--theme-lg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: var(--theme-sm);
}

.chevron {
    height: var(--theme-md);
    color: var(--theme-title-text);
    transition: 0.25s;
}

.chevronRotate{
    transform: rotate(180deg);
    height: var(--theme-md);
    transition: 0.25s;
}

.chevron:hover {
    transform: scale(1.2);
    transition: 0.1s;
}

.chevronRotate:hover {
    transform: rotate(180deg) scale(1.2);
    transition: 0.1s;
}

.contentContainer {
    color: var(--theme-page-text);
    width: 80%;
    font-size: 18px;
    transition: max-height 0.25s ease;
    max-height: 100%
}

.contentContainerHide{
    color: var(--theme-page-text);
    width: 80%;
    font-size: 18px;
    transition: max-height 0.25s ease;
    max-height: 0px;
}
.header {

}
strong {
    font-size: 24px;
    border-bottom: solid 1px var(--theme-title-text);
}