.footer {
    display: flex;
    padding: var(--theme-md);
    align-items: center;
    justify-content: flex-end;
    color: var(--theme-footer-text);
    background-color: var(--theme-footer-background);
}

.links {
    display: flex;
    align-items: center;
}

.disclaimer {
    border-left: 2px solid var(--theme-footer-text);
    display: flex;
    flex-direction: column;
    margin-left: var(--theme-md);
    max-width: 45ch;
    padding-left: var(--theme-sm);
}

.disclaimerCopyright {
    font-size: 0.8em;
    margin-top: var(--theme-xs);
    opacity: 0.8;
}
