.selected{
    width: 100%;
    background-color: var(--theme-friendbar-selected);
    padding: var(--theme-xs);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.unselected{
    width: 100%;
    background-color: var(--theme-friendbar-unselected);
    padding: var(--theme-xs);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}