.component{
    width: 100%;
    background-color: #2A475E;
    margin-bottom: var(--theme-md);
    padding: var(--theme-xs);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}