:root {
    /* Default theme */
    --theme-page-background: #1b2838;
    --theme-page-accent: #171a2185;
    --theme-page-text: white;
    --theme-header-background: #171a21;
    --theme-header-text: var(--theme-page-text);
    --theme-footer-background: #2a475e;
    --theme-footer-text: #c5c5c5;
    --theme-border: rgba(255, 255, 255, 0.25);
    --theme-title-text: #66c0f4;
    --theme-box-background: rgba(42, 71, 94, 0.8);
    --theme-box-accents: var(--theme-title-text);

    --theme-gold: #d49820;
    --theme-green: #5cc780;

    /* Button */
    --theme-widget-background: #2f4b67;
    --theme-widget-background-hover: #224e7a;
    --theme-widget-background-active: #1898d0;
    --theme-widget-focus: #00b3ff77;
    --theme-widget-text: var(--theme-page-text);

    /* Textbox */
    --theme-textbox-background: #2f4b67;
    --theme-textbox-text: var(--theme-page-text);

    /* FriendBar */
    --theme-friendbar-unselected: #529C6B;
    --theme-friendbar-selected:  #2A475E;

    /* Sizes for padding, font size, etc */
    --theme-xxs: 0.25em;
    --theme-xs: 0.5em;
    --theme-sm: 1em;
    --theme-md: 1.5em;
    --theme-lg: 2em;
    --theme-xlg: 4em;

    /* Base font size */
    font-size: 10px;
    --theme-base-font-family: "Inter", sans-serif;
    --theme-base-font-size: 1.5rem;

    /* Material icons sizing */
    --theme-md-icon-size: var(--theme-md-icon-sm);
    --theme-md-icon-xs: 18px;
    --theme-md-icon-sm: 24px;
    --theme-md-icon-md: 36px;
    --theme-md-icon-lg: 48px;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: var(--theme-page-text);
    font-family: var(--theme-base-font-family);
    font-size: var(--theme-base-font-size);
    margin: 0;
}

@supports (font-variation-settings: normal) {
    :root {
        --theme-base-font-family: "Inter var", sans-serif;
    }
}

a {
    text-decoration: initial;
    color: currentColor;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: initial;
}

/* React root */
#root {
    height: 100%;
}
