.header {
    display: flex;
    padding: var(--theme-md);
    background-color: var(--theme-header-background);
}

.heading {
    text-transform: uppercase;
    font-size: var(--theme-lg);
}

.subHeading {
    font-size: var(--theme-md);
    color: var(--theme-title-text);
}