.pageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.25);
}
.rearBox {
    width: 70%;
    height: 90%;
    background-color: #1B2838;
    align-self: flex-end;
}
.middleBox {
    position: absolute;
    height: 30%;
    width: 50%;
    background-color:#2A475ECC;
    align-self: flex-end;
    justify-self: center;
    margin: var(--theme-lg);
}
.frontBox {
    position: absolute;
    width: 45%;
    height: 60%;
    background-color: #2A475E;
    margin: var(--theme-lg);
}