.landingHeader {
    display: flex;
    background-image: url("../assets/landing-back-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}
.transparentBox {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    margin: var(--theme-lg);
}
.grandText {
    border-bottom: var(--theme-box-accents) 1px solid;
    font-size: var(--theme-md);
    padding-bottom: var(--theme-xs);
    margin-bottom: var(--theme-xs);
}
.subText {
    font-size: var(--theme-sm);
    padding-bottom: var(--theme-lg);
}

.highlightBox {
    background-color: var(--theme-box-background);
    padding: var(--theme-md);
}
.gettingStarted {
    border-bottom: var(--theme-box-accents) 1px solid;
    font-size: var(--theme-md);
    margin-bottom: var(--theme-sm);
}
.alignmentBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
