.page{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: row;
}
.primaryContent{
    padding: 0 var(--theme-md);
    width: 70vw;
    max-height: 60vh;
    overflow: scroll;
}
.secondaryContent {
    background-color: var(--theme-page-accent);
    width: 30vw;
}
.text{
    padding-bottom: var(--theme-md)
}