.main {
    background-color: var(--theme-textbox-background);
    border: 1px solid var(--theme-border);
    color: var(--theme-textbox-text);
    height: var(--theme-md);
    border-radius: 0.5rem;
    outline: none;
    resize: none;
}