.page {
    display: flex;
    flex-direction: row;

}
.primaryContent{
    padding: var(--theme-md);
    width: 70vw;
}
.secondaryContent {
    background-color: var(--theme-page-accent);
    width: 30vw;
    height: 100%;
}
.title {
    color: var(--theme-title-text);
    border-bottom: 1px var(--theme-box-accents) solid;
}